@model List<SoProd.Web.Models.TestDefinitionViewModel>

@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Database Results
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload">
            </a>
        </div>
    </div>
    <div class="portlet-body" style="display: block;">
        <form id="search-form" asp-controller="Home" asp-action="Index" method="get">
            <div class="mb-3">
                <select asp-for="Home" class="select2-request" multiples="multiples" id="request-filter" style="width: 100%;" required>
                    <option value="">All Requests</option>
                </select>
            </div>
            <div class="col-0">
                <input type="text" id="text-search" />
                <input type="submit" id="search-button" value="Filter" onclick="alert('boas')" class="btn btn-danger" />
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th data-field="id">ID</th>
                        <th data-field="Name">Name</th>
                        <th data-filed="UserCount">User Count</th>
                        <th data-filed="Version">Version</th>
                        <th data-filed="BaseAddress">Base Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.UserCount</td>
                            <td>@item.Version</td>
                            <td>@item.BaseAddress</td>
                            <td><a href="#" class="show-results" data-item-id="@item.Id">Show Results</a></td>
                        </tr>
                        <tr id="results-@item.Id" style="display: none;">
                            <td colspan="5">
                                <div class="table-responsive">
                                    <table id="example-@item.Id" class="table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th data-filed="Identifier">Identifier</th>
                                                <th data-filed="StartDate">Start Date</th>
                                                <th data-filed="TimeEllapsed">Time Ellapsed</th>
                                                <th data-filed="RequestsOK">Requests OK</th>
                                                <th data-filed="RequestsError">Requests Error</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var result in item.testResults)
                                            {
                                                <tr>
                                                    <td>@result.Identifier</td>
                                                    <td>@result.StartDate</td>
                                                    <td>@result.TimeEllapsed</td>
                                                    <td>@result.RequestsOK</td>
                                                    <td>@result.RequestsError</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.select2-request').select2();
            $('[id^="example"]').DataTable();
        });

        $(function () {
            var select = $('#request-filter');

            //SelectPopulate(select, "Home/GetVersions/", { flowId: selectedFlow });
        });

        $(".show-results").click(function () {
            var itemId = $(this).data("item-id");

            $("#results-" + itemId).toggle();
        });
    </script>
}