@model List<SoProd.Web.Models.TestResultViewModel>

@{
    ViewBag.Title = "Home Page";
}

<style>
    .tablerow:hover {
        cursor: pointer;
        background-color: lightgray
    }

    .result-box {
        display: flex;
        flex-direction: column;
        border: 3px solid lightblue;
        padding: 5px;
        text-align:center
    }

    .result-box-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .centered-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15%;
        text-align: center
    }
</style>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Results Comparation
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload">
            </a>
        </div>
    </div>
    <div class="portlet-body" style="display: flex;justify-content:space-around">
        <div>
            <div class="mb-3" style="display: flex; gap: 5px">
                <select id="select2-version-1" class="select2-version-1" style="width: 300px">
                    <option value="">Choose a version</option>
                </select>
                <input id="date-1" type="date" class="form-control" required />
            </div>
            <div id="result1" class="result-box">
                No data
            </div>
        </div>
        <div class="centered-box">
            <button type="button" id="btn-compare" class="btn btn-info compare">Compare</button>
            <div id="comparison-result"></div>
            <div id="result-text"></div>
        </div>
        <div>
            <div class="mb-3" style="display: flex; gap: 5px">
                <select id="select2-version-2" class="select2-version-2" style="width: 300px">
                    <option value="">Choose a version</option>
                </select>
                <input id="date-2" type="date" class="form-control" required />
            </div>
            <div id="result2" class="result-box">
                No data
            </div>
        </div>
    </div>
</div>

<div class="portlet box red mt-1">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Database Results
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload">
            </a>
        </div>
    </div>
    <div class="portlet-body" style="display: block;">
        <div class="mb-3">
            <select id="select2-request" class="select2-request" style="width: 35%">
                <option value="">All Versions</option>
            </select>
        </div>
        <div class="table-responsive">
            <table id="results" class="table  table-advance">
                <thead>
                    <tr>
                        <th data-field="Id" class="no-sort column-id">ID</th>
                        <th data-filed="Identifier" class="no-sort">Identifier</th>
                        <th data-filed="StartDate" class="no-sort">Start Date</th>
                        <th data-filed="TimeEllapsed" class="no-sort">Time Ellapsed (ms)</th>
                        <th data-filed="Version" class="no-sort">Version</th>
                        <th data-filed="RequestsNumber" class="no-sort">Total Requests</th>
                        <th data-filed="AvgRequestTime" class="no-sort">Average Request Time (ms)</th>
                        @*<th data-filed="RequestPercentage" class="no-sort">Ok Percentage</th>
                        <th data-filed="MaxRequestTime" class="no-sort">Max Request (ms)</th>*@
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var result in Model)
                    {
                        <tr class="tablerow" data-item-id="@result.Id">
                            <td id="tablerow">@result.Id</td>
                            <td id="tablerow">@result.Identifier</td>
                            <td id="tablerow">@result.StartDate</td>
                            <td id="tablerow">@result.TimeEllapsed</td>
                            <td id="tablerow">@result.Version</td>
                            <td id="tablerow">@result.RequestsNumber</td>
                            <td id="tablerow">@result.AvgRequestTime</td>
                            <td id="tablerow">@result.RequestPercentage %</td>
                            <td id="tablerow">@result.MaxRequestTime</td>
                        </tr>
                        <tr id="executions-@result.Id" style="display: none;">
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var page = 0;

        //#region select2 activation and fill

        var select = $('#select2-request');
        var select1 = $('#select2-version-1');
        var select2 = $('#select2-version-2');

        select.select2();
        select1.select2();
        select2.select2();

        $.ajax({
            url: '/Home/GetVersions',
            type: 'GET',
            success: function (response) {
                $.each(response.themes, function (index, item) {
                    select.append('<option>' + item + '</option>');
                });
                $.each(response.themes, function (index, item) {
                    select1.append('<option>' + item + '</option>');
                });
                $.each(response.themes, function (index, item) {
                    select2.append('<option>' + item + '</option>');
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Error on loading data...")
            }
        });

        //#endregion

        TableInit('#results', {
            "serverSide": true,
            "ajax": function (data, callback, settings) {
                var totalColLen = $("#results").DataTable().columns()[0].length;
                data.countColumns = totalColLen;

                performSearch(data, function (resp, listIds, headers) {
                    respData = resp.data
                    var responseData = WriteTableColumns(resp.data);

                    resp.data = responseData;
                    callback(resp);
                });
            },
            "language": dataTableFR,
            "aaSorting": [[0, 'desc']],
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $(nRow).attr('id', "tablerow");
            },
            "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
            "iDisplayLength": 20,
            "bDeferRender": true,
            "bautoWidth": false,
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });

        function performSearch(originalData, callback) {
            //var searchData = getDomainsSearchFilters();

            //Metronic.blockUI({
            //    target: '#results',
            //    overlayColor: '#000', overlayOpacity: '0.8',
            //    centerY: true,
            //    centerX: true,
            //    animate: true
            //});

            $.ajax({
                url: "/Home/GetResultsJson",
                method: "POST",
                data: {
                    dtFilters: originalData
                },
                error: function () {
                    alert("error");
                    /*Metronic.unblockUI('#results');*/
                },
                success: function (data) {
                    var _rows = [];
                    //Metronic.unblockUI('#results');
                    if (data.error) {
                        showWarning("Error Validating", "Please check form inputs and try again...");
                    }
                    else {
                        $.each(data.aaData, function (a, b) {
                            _rows.push(b);
                        });

                        //currentSearchTotal = data.iTotal;
                        if (callback) {
                            callback({
                                "draw": data.draw,
                                "recordsTotal": data.iTotal,
                                "recordsFiltered": data.iTotal,
                                "data": _rows
                            });
                        }
                    }
                }
            });
        }

        function getDomainsSearchFilters() {
            var data = {};
            $("#domainsFiltersUL li").each(function () {
                data[$(this).attr('data-label')] = $(this).attr('data-val');
            });

            return data;
        }

        function WriteTableColumns(alldata) {
            var __data = [];

            $.each(alldata, function (indexRow, data) {
                var _data = [];
                var startPos = 0;

                for (var i = startPos; i <= 6; i++) {
                    switch (i) {
                        case 0:
                            _data.push(data.Id);
                            break;
                        case 1:
                            _data.push(data.Identifier)
                            break;
                        case 2:
                            _data.push(data.StartDate)
                            break;
                        case 3:
                            _data.push(data.TimeEllapsed)
                            break;
                        case 4:
                            _data.push(data.Version)
                            break;
                        case 5:
                            _data.push(data.RequestsNumber)
                            break;
                        case 6:
                            _data.push(data.AvgRequestTime)
                            break;
                        //case 7:
                        //    _data.push(data.RequestPercentage)
                        //    break;
                        //case 8:
                        //    _data.push(data.MaxRequestTime)
                        //    break;
                        default:
                            break;
                    }
                }
                __data.push(_data);

            });
            return __data;
        }

        $(document).ready(function () {
            TableInit('#results');
        });

        $(".tablerow").click(function () {
            var itemId = $(this).data("item-id");

            var trElement = document.getElementById(`executions-${itemId}`);

            if (trElement.style.display === "none") {
                $.ajax({
                    url: "/Home/GetResultExecutions/" + itemId,
                    type: "GET",
                    success: function (data) {
                        var executionsTable = $('<table>').addClass('table').css('width', '100%').attr('id', `result-executions-${itemId}`);
                        var executionsHeader = $('<thead>').appendTo(executionsTable);
                        var executionsBody = $('<tbody>').appendTo(executionsTable);

                        var headerRow = $('<tr>').appendTo(executionsHeader);
                        $('<th>').text('ID').appendTo(headerRow);
                        $('<th>').text('URL').appendTo(headerRow);
                        $('<th>').text('Status Code').appendTo(headerRow);
                        $('<th>').text('Time Ellapsed').appendTo(headerRow);
                        $('<th>').text('Start Date').appendTo(headerRow);

                        data.results.forEach(function (execution) {
                            var dataRow = $('<tr>').appendTo(executionsBody);
                            $('<td>').text(execution.Id).appendTo(dataRow);
                            $('<td>').text(execution.URL).appendTo(dataRow);
                            $('<td>').text(execution.StatusCode).appendTo(dataRow);
                            $('<td>').text(execution.TimeEllapsed.toFixed(4)).appendTo(dataRow);

                            var startDateStr = execution.StartDate.toString();

                            if (startDateStr.length > 0) {
                                var startDate = new Date(parseInt(startDateStr.substr(6)));
                                var formattedStartDate = startDate.toLocaleString();
                                $('<td>').text(formattedStartDate).appendTo(dataRow);
                            }
                        });

                        $("#executions-" + itemId).html($('<td>').attr('colspan', 8).append(executionsTable)).toggle();

                        TableInit(`#result-executions-${itemId}`);
                    },
                    error: function () {
                        alert("Error retrieving test results.");
                    }
                });
            }
            else {
                $("#executions-" + itemId).hide();
            }
        });

        $('#select2-request').on('change', function () {
            var selectedValue = $(this).val();

            $.ajax({
                url: '/Home/SearchResults?version=' + selectedValue,
                type: 'GET',
                data: { searchTerm: selectedValue },
                success: function (response) {
                    var tbody = $('#results tbody');
                    tbody.empty();

                    $.each(response.results, function (index, item) {
                        var tr = $('<tr>').addClass('tablerow').attr('data-item-id', item.Id);
                        tr.append($('<td>').text(item.Id));
                        tr.append($('<td>').text(item.Identifier));

                        var startDateStr = item.StartDate.toString();

                        if (startDateStr.length > 0) {
                            var startDate = new Date(parseInt(startDateStr.substr(6)));
                            var formattedStartDate = startDate.toLocaleString().replace(',', '');
                            tr.append($('<td>').text(formattedStartDate));
                        }

                        tr.append($('<td>').text(Math.round(item.TimeEllapsed, 4)));
                        tr.append($('<td>').text(item.Version));
                        tr.append($('<td>').text(item.RequestsNumber));
                        tr.append($('<td>').text(item.AvgRequestTime));
                        tr.append($('<td>').text(item.RequestPercentage));
                        tr.append($('<td>').text(item.MaxRequestTime));
                        tbody.append(tr);
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error on loading data...');
                }
            });
        });

        $("#btn-compare").click(function () {

            let comparison = {
                Version1: $('#select2-version-1 option:selected').val(),
                Date1: $("#date-1").val(),
                Version2: $('#select2-version-2 option:selected').val(),
                Date2: $("#date-2").val()
            };

            if (comparison.Version1 != "" && comparison.Version2 != "" && comparison.Date1 != "" && comparison.Date2 != "") {
                $.ajax({
                    url: '/Home/Compare',
                    type: 'POST',
                    data: comparison,
                    success: function (response) {
                        const comparison1 = response.resultComparison.comparison1;
                        const comparison2 = response.resultComparison.comparison2;

                        const result1 = document.querySelector('#result1');
                        const result2 = document.querySelector('#result2');

                        if (comparison1.TestsCount != 0) {
                            const newHtml1 = `
                                <div class="result-box-line">
                                    <label>Request Average</label>
                                    <label id="c1-avg">${comparison1.AvgRequest.toFixed(2)}</label>
                                </div>
                                <div class="result-box-line">
                                    <label>Total Requests</label>
                                    <label id="c1-total">${comparison1.TotalRequest}</label>
                                </div>
                                <div class="result-box-line">
                                    <label>Users Number</label>
                                    <label id="c1-users">${comparison1.UsersNumber}</label>
                                </div>
                                <div class="result-box-line">
                                    <label>Requests OK (%)</label>
                                    <label id="c1-ok">${comparison1.PercentRequest.toFixed(2)}</label>
                                </div>
                                <div class="result-box-line">
                                    <label>Max Request Time (ms)</label>
                                    <label id="c1-max">${comparison1.MaxRequest.toFixed(2)}</label>
                                </div>
                                <div class="result-box-line">
                                    <label>Tests Number</label>
                                    <label id="c1-tests">${comparison1.TestsCount}</label>
                                </div>
                            `;

                            result1.innerHTML = newHtml1;
                        }
                        else {
                            const newHtml1 = `This version has no tests on this date `
                            document.querySelector('#result-text').innerHTML = ""
                            document.querySelector('#icon-result').hidden = true

                            result1.innerHTML = newHtml1;
                        }

                        if (comparison2.TestsCount != 0) {

                            const newHtml2 = `
                                <div class="result-box-line">
                                    <label>Request Average Time (ms)</label>
                                    <label id="c2-avg">${comparison2.AvgRequest.toFixed(2)}</label>
                                </div>
                                <div class="result-box-line">
                                    <label>Total Requests</label>
                                    <label id="c2-total">${comparison2.TotalRequest}</label>
                                </div>
                                <div class="result-box-line">
                                    <label>Users Number</label>
                                    <label id="c2-users">${comparison2.UsersNumber}</label>
                                </div>
                                <div class="result-box-line">
                                    <label>Requests OK (%)</label>
                                    <label id="c2-ok">${comparison2.PercentRequest.toFixed(2)}</label>
                                </div>
                                <div class="result-box-line">
                                    <label>Max Request Time (ms)</label>
                                    <label id="c2-max">${comparison2.MaxRequest.toFixed(2)}</label>
                                </div>
                                <div class="result-box-line">
                                    <label>Tests Number</label>
                                    <label id="c2-tests">${comparison2.TestsCount}</label>
                                </div>
                            `;

                            result2.innerHTML = newHtml2;
                        }
                        else {
                            const newHtml2 = `This version has no tests on this date `
                            document.querySelector('#result-text').innerHTML = ""
                            document.querySelector('#icon-result').hidden = true

                            result2.innerHTML = newHtml2;
                        }

                        if (comparison1.TestsCount != 0 && comparison2.TestsCount != 0) {
                            let points1 = 0
                            let points2 = 0

                            if (comparison1.AvgRequest < comparison2.AvgRequest) {
                                document.querySelector('#c1-avg').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else {
                                document.querySelector('#c2-avg').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            if (comparison1.TotalRequest > comparison2.TotalRequest) {
                                document.querySelector('#c1-total').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else {
                                document.querySelector('#c2-total').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            if (comparison1.UsersNumber > comparison2.UsersNumber) {
                                document.querySelector('#c1-users').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else {
                                document.querySelector('#c2-users').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            if (comparison1.PercentRequest > comparison2.PercentRequest) {
                                document.querySelector('#c1-ok').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else {
                                document.querySelector('#c2-ok').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            if (comparison1.MaxRequest < comparison2.MaxRequest) {
                                document.querySelector('#c1-max').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else {
                                document.querySelector('#c2-max').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            if (comparison1.TestsCount > comparison2.TestsCount) {
                                document.querySelector('#c1-tests').style.color = 'green';
                                points1 = points1 + 1;
                            }
                            else {
                                document.querySelector('#c2-tests').style.color = 'green';
                                points2 = points2 + 1;
                            }

                            var arrow = null

                            if (points1 > points2) {
                                arrow = '<icon id="icon-result" class="fa fa-arrow-circle-o-left" style="color: lightskyblue; font-size: 5em;" ></icon >'
                                document.querySelector('#result-text').innerHTML = 'seems to be the better version!'
                            }
                            else if (points1 == points2) {
                                document.querySelector('#result-text').innerHTML = 'both seem to have the similar results!'
                            }
                            else {
                                arrow = '<icon id="icon-result" class="fa fa-arrow-circle-o-right" style="color: lightskyblue; font-size: 5em;"></icon>'
                                document.querySelector('#result-text').innerHTML = 'seems to be the better version!'
                            }

                            document.querySelector('#comparison-result').innerHTML = arrow
                            document.querySelector('#icon-result').hidden = false
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Erro")
                        console.log(jqXHR);
                    }
                });
            }
            else
                alert("Missing fields!")
        })

    </script>
}